.text-black {
    color: black;
}

.text-white {
    color: white;
}

.title {
    float: left;
    margin-top: 0.5rem;
}

.button {
    float: right;
}

.list-group {
    position: absolute;
    z-index: 4;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #f0f0f0;
}